@model PizzaDemo.ViewModels.PizzaViewModel

<h2>Edit pizza</h2>
<hr />
<div class="row">

    <div class="col-md-6">

        <form asp-action="Edit" asp-controller="Pizza">

            <div class="form-group">
                <input asp-for="ID" hidden="hidden" />
            </div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedIngridients" class="control-label"></label>
                <select asp-for="SelectedIngridients" asp-items="Model.AllIngridients" class="form-control"></select>
                <span asp-validation-for="SelectedIngridients" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BasePrise"></label>
                <input asp-for="BasePrise" class="form-control" />
                <span asp-validation-for="BasePrise" class="text-danger"></span>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary" />

        </form>

    </div>

</div>

